<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    "application" %>

  <%= csrf_meta_tags %>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" ></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" ></script>

  <%= javascript_include_tag "application" %>
  <style>
    body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
  </style>
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/base/jquery-ui.css" />

</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="<%= root_path %>">Task Fields</a>
      </div>
    </div>

  </div>
  
  
  <div class="container">
    <% if header_title %>
        <h1><%= header_title %></h1>
    <% end %>

    <% if notice %>
      <div class="alert-message success">
        <p><%= notice %></p>
      </div>
    <% end %>
  
    <% if alert %>
      <div class="alert-message error">
        <p><%= alert %></p>
      </div>
    <% end %>

    <%= yield %>
    
  </div>

</body>
</html>
